
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <body bgcolor="#F5F5DC">
        <title>myself</title>
    </head>
    <body>
	<style> p { color: gray }; 
	</style><body  bgcolor="#d2b48c" text="#aa5000">
        <h2><p align="center"></p>陳奕廷</h2>
		<hr>
        <p><h2>
          
		
		<h3>MIS工程師</h3>
				<OL>
				<LI>企業內部系統規劃與開發MIS系統的功能，以符合企業需求</LI>				
				<LI>維護公司網路和資料，並進行備份工作，及防毒</li>
				<li>配合資訊作業需要，至各單位處理連線相關作業及問題排除</LI>
				<LI>負責FireWall、IDS及防毒軟體等資安系統管理防止公司機密外洩以及員工不當使用電腦</LI>
				<LI>內部網站系統改進與導入</LI>
				</OL>
				
				
				
		<img src="https://www1.pu.edu.tw/~s1101726/CSP/123454.png"
    </body>    
</html>
